# IntelliJ IDEA specific files
.idea/
workspace.xml
/shelf/
#save/

# Ignoring extracted portable versions of Python and Java
Portable Python-3.9.13 x64*/
Zulu*/

# Ignoring temporary and log files
*.log