/* Styl dla belki nawigacyjnej */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
}

/* Styl dla lewej czêœci belki */
.navbar-left h1 {
    margin-left: 1.5rem;
    font-size: 1.5rem;
    color: white;
}

/* Styl dla prawej czêœci belki */
.navbar-right {
    margin-right: 3.8rem; /* Marygines tylko z prawej */
}

.navbar-right button {
        background-color: #f5f5f5;
        color: #333;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

.navbar-right button:hover {
            background-color: #ddd;
        }
